@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #fa4b4b;
}


#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: rgb(241, 241, 241);
 
}

.bkimage{
  background-image: url('./bgImage1.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 50% !important;
}


.ant-layout-sider-children{
  height: 100vh !important;
}

.ant-layout-header span svg{
  height: 25px;
  width: 25px;
  margin-left: 14px;
}

.logo{
  margin-top: 12px;
  text-align: center;
  font-size: 24px;
}

.logo h1{
  color: black;
  font-weight: bold;
  font-size: 28px;

}

.ant-layout-sider .ant-layout-sider-dark{
  background-color: WHITE;
}

.ant-menu-submenu-selected {
  color: #ff4444;
}

.sweet-loading{

  position : fixed !important;
  top : 40% !important;
  height : 100% !important;
  width : 100% !important;
  z-index : 9999;

}

.flex{
  display : flex !important;
  align-items : center !important;
}

p{
  font-weight: 500 !important;
  margin : 2px !important;
  padding : 2px !important;
  font-size : 16px !important;
}

.bs{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.job-div{
  border-radius: 15px !important;
  background-color : #fff !important;
}

.job-btn{
  background-color : #90000b !important;
  color : #fff !important;
  border-radius : 5px !important;
  border : 0px;
}

.title{
  font-weight : bold !important;
  font-size: 24px !important;
}

.job-div:hover{
  background-color : #e17780 !important;
  color : #fff !important;
  border-color: #d75560;
  /* border: 5px solid #e17780 */
}

.company{
  font-size : 20px !important;
  font-weight : 550 !important;
}

.JobInfo {
  background-color : #90000b !important;
  color : #fff !important;
  border-radius: 15px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.job-btn-back{
  
  border-radius : 5px !important;
  border : 0px solid black;
}

.JobInfo h4 {
  color : #fff !important;
}

.JobInfo h1 {
  color : #fff !important;
}

.loginForm {
  background-color : #e17780;
  height: 100vh !important;
}

.loginLogo{
  background-image: url('./bgImage.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 60% !important;
  height: 100vh !important;
}

.login{
  position: relative;
  padding: 50px;
  top : 20% ;

}

.login-form-button {
  width: 100%;
}

.profile Input{
  background-color: #EBEBEB;
  border-radius: 7px;
}

.tabs{
  background-color : #fff;
  padding : 20px;
  border-radius : 7px;
}

.profile TextArea{
  background-color: #EBEBEB;
  border-radius: 7px;
  border: 0px;
}

.select{
  background-color: #EBEBEB !important;
  border-radius: 7px !important;
  border: 0px !important;
}

.ant-message{
  z-index: 99999 !important;
}



